:root {
    --red: #FF2525;
}

@font-face {
    font-family: "ArgentPixel";
    src: url("fonts/ArgentPixelCF-Regular.woff") format('woff');
    font-weight: normal;
  }

  @font-face {
    font-family: "GTCinetype";
    src: url("fonts/GT-Cinetype-Regular.ttf");
  }

  @font-face {
    font-family: "IBMPlexMono";
    src: url("fonts/IBMPlexMono-Regular.otf");
  }


  #sentence {
    margin-top: 0;
    font-family: "IBMPlexMono";
    font-size: 4.5em;
    line-height: 125%;
    color: white;
  }

  #words-container {
    padding: 5vh;
    width: 80vw;
  }

  #guess {
    border: none;
    background-color: blue;
  }

  body {
    background-color: var(--red);
  }
